#hide-toggle-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.insideTab {
  padding-top: 20px;
}
.hidden-projects {
  margin-top: 20px;

  border-radius: 10px;
  background-color: #f5f5f5;
}
.display-projects,
.hidden-projects {
  padding: 20px;
}
.hide-botton,
.display-botton {
  margin-left: 10px;
}
