@import "~bootstrap/dist/css/bootstrap.css";

.card-body {
  padding: 10px 10px 10px 9px;
}

#PeopleBoxCard .col-3 {
  /* background-color: black; */
  padding-right: 0px;
  padding-left: 0px;
}

#PeopleBoxCard .card-text {
  font-size: 10px;
}

.level {
  padding: 1px 5px 1px 5px;
}
